
includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- phpstan-mockery-ignore.neon

parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - app
        - tests
    excludePaths:
        - app/Infrastructure/OpenApi
        - vendor
        - tests/Factory
        - tests/manual
        - coverage-reports
    tmpDir: storage/phpstan
