
includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- phpstan-mockery-ignore.neon
	- phpstan-test-exclusions.neon
	- phpstan-level-10-baseline.neon
	- phpstan-baseline.neon

parameters:
    treatPhpDocTypesAsCertain: false
    level: 10
    paths:
        - app
        - tests
    excludePaths:
        - app/Infrastructure/OpenApi
        - app/Domains/Statistics/Services/StatisticsConfigService.php
        - app/Domains/Post/Models/Tag.php
        - app/Domains/Setting/Models/Setting.php
        - vendor
        - tests/Factory
        - tests/manual
        - coverage-reports (?)
        - ../coverage-reports (?)
    tmpDir: storage/phpstan
