<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory suffix="Test.php">./tests/E2E</directory>
        </testsuite>
        <testsuite name="Security">
            <directory suffix="Test.php">./tests/Security</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory>./app/Infrastructure/OpenApi</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
         <env name="DB_DATABASE" value=":memory:"/>
        <!-- JWT Configuration for testing -->
        <env name="JWT_ALGORITHM" value="RS256"/>
        <env name="JWT_ISSUER" value="alleynote-api-test"/>
        <env name="JWT_AUDIENCE" value="alleynote-client-test"/>
        <env name="JWT_ACCESS_TOKEN_TTL" value="3600"/>
        <env name="JWT_REFRESH_TOKEN_TTL" value="2592000"/>
        <env name="JWT_PRIVATE_KEY_PATH" value="test_private_key.pem"/>
        <env name="JWT_PUBLIC_KEY_PATH" value="test_public_key.pem"/>
        <env name="JWT_PRIVATE_KEY" value=""/>
        <env name="JWT_PUBLIC_KEY" value=""/>
    </php>
</phpunit>
