<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory suffix="Test.php">./tests/E2E</directory>
        </testsuite>
        <testsuite name="Security">
            <directory suffix="Test.php">./tests/Security</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory>./app/Infrastructure/OpenApi</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value="database/test.sqlite3"/>
        <!-- JWT Configuration for testing -->
        <env name="JWT_ALGORITHM" value="RS256"/>
        <env name="JWT_ISSUER" value="alleynote-api-test"/>
        <env name="JWT_AUDIENCE" value="alleynote-client-test"/>
        <env name="JWT_ACCESS_TOKEN_TTL" value="3600"/>
        <env name="JWT_REFRESH_TOKEN_TTL" value="2592000"/>
        <env name="JWT_PRIVATE_KEY" value="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDDbyt
rMPV58cVe1vaYXaoTTsiHHw34+OzRkNgZIRzF4lye8IYz5fk1QWSK
SzDQszyhGNToQ+ctIuO2Q6zmImKbni1bjmzBuMLN39p1abZ3ikBi
GjJE2f/uRpWYve+0Qdb2dG3eAQ9daiN1oHpjEbaEMRRI86NiflQU
Dw26vLxdUOJ/EQeWLa7DeqsyD8OzxS20N3nG8Lq+6ISN0UXRxk9O
XYj6toioc8aOaNcBvdh68w/LPSa+x+PGxvbO71xyrWOhQZ1oBOQf
y2KJZWItX47tMG5Enhp5ke8eUhQyScH+fVaCB5bYExBvij0WJYE
saX01VwSNaGYDXGdxX8oiTFhPAgMBAAECggEAWFodyuvrTiHbFLEh
8mgFx4zKYyvK6U+/4E4XI+UwWNWpAcHDKhtBuq3BgjPT8cXWFw5e
0lJAZMttHq0hsTjCU5AC+W0+BaY9i000Ofh8oTZDPRaSu0XCyjnm
z5Kul1NclzazpLXd+GFPfpH6Qmdzl/eIMCLVLmXmJNtZXZ6NmbF4
4nNU/OYBZ6muAi795fwB4yybdwY7qHK0IMetwP5dB7eY2VMUeyzC
i2kBWGH2fYtaZGIFYDdEUFvxB32JMYK+qqLlK9l7XDOOMT7/lNXK
PR2MEaGNtLmFustj8VPKVyl5/Al5dCO3Z5WvieHxiBgEHhcn6Cs8
qYGhuXVpaHA3QQKBgQDsvFncgan1LP4Nn8q2kQUa7VfD72xZLvze
4HJZBSD011vAPkiJGF8KOhjF8B7pXuHlK+dj86XqeGWiKBYeEX7q
UxaK7nNB6kfMUQ8Ibj+Zu6jv1STQWHI0w1d6/VtCIJT0z5fFcUL
zNfbu8aZw+AeRsDnyRc3EuVkkdvGSPDiuVwKBgQDTVm5iweLAEjEV
VFxYZzNxLCc7C+7O/x7LN0ZCrg6/6666G8CEOfoBI//F2aLz89sL
CPy22a1+5CJ8MgqyIrqNPFIg95fckc28Z29U6MttaMLTkYmteaT
FIs5ewaKsbRlqQVrcTymZTuQDzbuwn5SETMiwRJrC16CpxfBAATp6
yQKBgQCmWArEeI/V6RFyvU8RTYFK1G8RDFETsYKZkRiIGKR5pkGg
KaOKQYe2hfAWVY1C6hrMjzb98pwozwSLFqPD6QNG3689XCO8s0RT
+rkXcXBbM5OXQiumAh/tlz0G/LN9GavRAXVhlR44CzlB2KbdRkr7
QdrVs9rMWniauMExwgMJ7QKBgAjrZvFIGZfdrLCnxNX+VQ97u5Qk
ZsnZvqT5CkAaNIkpG1DDhxaNk92kdVEWZGhDbIVEtdXJzibC3im7
uvPVv2Xim9zEVmZ6yOIgw3Qj9yIA/+gKBnOJ5MhlNayOI51/ZUk0
xO7zcGAGEl2Ou1MzCQOkcfvuiVGb5C4GKqOo6ZzxAoGAAxFHoG3g
c8T9SLeRl0OUUooX7o7KwvnUqW9da2ndtliry3MqVtCYhgb/q5Bz
PcxdWDGnWfT/6zuBXN+p8pQLnrHncgunF6lfZ2mCm41pJ5Ula6fl
XMt2S38hSuBcnhsfuyp/QJpXe+/KmYuVH4NjhzhaawYt3V/BqvjovY2K/wDU=
-----END PRIVATE KEY-----"/>
        <env name="JWT_PUBLIC_KEY" value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAw28razD1
efHFXtb2mF2qE07Ihx8N+Pjs0ZDYGSEcxeJcnvCGM+X5NUFkiks
w0LM8oRjU6EPnLSLjtkOs5iJim54tW45swbjCzd/adWm2d4pAYh
oyRNn/7kaVmL3vtEHW9nRt3gEPXWojdaB6YxG2hDEUSPOjYn5U
FA8Nury8XVDifxEHli2uw3qrMg/Ds8UttDd5xvC6vuiEjdFF0cZ
PTl2I+raIqHPGjmjXAb3YevMPyz0mvsfjxsb2zu9ccq1joUGdaA
TkH8tiiWViLV+O7TBuRJ4aeZHvHlIUMknB/n1WggeW2BMQb4o9
FiWBLGl9NVcEjWhmA1xncV/KIkxYTwIDAQAB
-----END PUBLIC KEY-----"/>
    </php>
</phpunit>
